/public/
/resources/_gen/
.hugo_build.lock
hugo_stats.json
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
themes//node_modules/
themes//dist/
.vscode/
.idea/
*.sublime-workspace
*.swp
.DS_Store
Thumbs.db
tmp/
.log
.env
.env.