.doc-nav {
    float: left;
    line-height: $base-line-height * $base-font-size * 2.25;
    padding-left: 10px;
    padding-right: 10px;

    & ul li {        
        list-style: none;
        float: left;
        padding-left: 10px;
        padding-right: 10px;

        ul {
            display: none;
        }

        a {
            text-align: center;
            color: black;
        }

        &:hover {
            background-color: whitesmoke;
        }

        &:hover ul {
            display: block;
            position: absolute;
            margin-left: -10px;
            margin-right: -10px;
            padding-left: 0px;
            background-color: whitesmoke;
        }

        &:hover ul li {
            list-style: none;
            float: none;

            &:hover {
                background-color: lightgrey;
            }

            a {
                display: inline-block;
            }
        }   
    }
}